<!DOCTYPE html>
<html , lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Sign Up with Codefellowship</title>
</head>
<body>
<section>
    <form action="/signup" method="post">
        <input name="username" placeholder="Username" required type="text"/>
        <input name="password" placeholder="Password" required type="password"/>
        <input name="firstName" placeholder="First Name" required type="text"/>
        <input name="lastName" placeholder="Last Name" required type="text"/>
        <input name="pronouns" placeholder="Pronouns" required type="text"/>
        <input name="dateOfBirth" placeholder="Birthday" required type="text"/>
        <input name="os" placeholder="Operating System" required type="text"/>
        <input name="bio" placeholder="Tell us a bit about you" required type="text"/>
        <input name="favoriteProgrammingLanguage" placeholder="What is your Favorite Programming Language?" required
               type="text">
        <input name="startedProgramming" placeholder="When did you start programming?" required type="text">
        <button type="submit"> Complete Sign Up!</button>
    </form>
</section>
</body>
</html>
